@charset 'UTF-8'
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah)

// ミュイン
@-webkit-keyframes myuin
  from
    -webkit-transform: scale(0)
    opacity: 0
  50%
    -webkit-transform: scale(0)
    opacity: 0
  82.5%
    -webkit-transform: scale(1.03)
    -webkit-animation-timing-function: ease-out
    opacity: 1
  to
    -webkit-transform: scale(1)

$container-width: 300px
.container
  background: #ffeaed
  text-align: center
  font-family: 'Gloria Hallelujah', cursive
  margin: 0 auto
  width: $container-width
  border: 1px solid rgba(255,0,0,0.8)

  .header
    ul.index
      overflow: hidden
      margin: 0
      padding: 0 8px
      background-color: rgba(255, 0, 0, 0.1)
      font-size: 14px
      text-align: center
      li
        float: left
        list-style: none
        padding: 5px 0 0
        .tab
          width: 80px
          background-color: rgba(255, 255, 255, 0.5)
          a
            display: block
            color: rgba(0, 0, 0, 0.4)
            background-color: rgba(255, 0, 0, 0.4)
            text-decoration: none
            &:hover
              color: rgba(0, 0, 0, 0.6)
              background-color: rgba(255, 0, 0, 0.2)
  .footer
    margin-top: 20px
    padding: 4px
    background-color: rgba(255, 0, 0, 0.1)
    font-size: 13px

  .contents
    h1
      color: rgba(0, 0, 0, 0.4)
      font-weight: bold
      font-size: 24px
      letter-spacing: -1px
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6)
      background: url("../images/nu.png") no-repeat center 60px
      background-size: 100px 100px
      margin: 0
      padding: 200px 0 10px

    .welcome
      -webkit-animation-name: myuin
      -webkit-animation-duration: .9s

    .nuruby
      ul
        text-align: left
        li
          list-style: georgian
          ul li
            list-style: hebrew
