---
What's ぬRuby
---
.nuruby
  %h1 ぬRuby
  %section
    %h2 とは？
    %ul
      %li 和室で
      %li ぬるくRuby
      %li もくもくする
  %section
    %h2 もっとくわしく！
    %ul
      %li= link_to 'ぬRubyしまーす', 'http://d.hatena.ne.jp/EnnuimaZ/20120110/1326197823'
      %li= link_to 'ぬRubyしまーした', 'http://d.hatena.ne.jp/EnnuimaZ/20120430/1335768590'
